extends base.pug
block style    
   link(rel="stylesheet", href="../css/home.css")
block content
  .container
    .heading
       h1 MAKAUT
       p Molana Abul Kalam Azad University Of Technology 
       p Kolkata, West bengal
block script 
    script(src='../js/main.js')




          